apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: preview-environments
  namespace: argocd
spec:
  project: default
  source:
    repoURL: git@github.com:kubeden/clopus-preview-environments.git
    targetRevision: main
    path: infrastructure/preview-environments
    directory:
      recurse: false
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
